DATABASES = {
    'default': {
            'ENGINE': 'django.db.backends.postgresql_psycopg2',
            'NAME': 'djproject',
            'USER': 'mydjangouser',
            'PASSWORD': 131384,
            'HOST': 'localhost',
            'PORT': '',
    }
}
INSTALLED_APPS = {
    'django.contrib.staticfiles'
}